#card {
    display: grid;
    border: 2px solid blue;
    grid-template-rows: 70% 15% 15%;
    height: 300px;
    width: 300px;
}

img {
    max-width: 300px;
    max-height: 210px;
    height: 210px;
    width: 300px;
}

#title {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
}


#button {
    display: grid;
    font-size: 16px;
    grid-gap: 2px;
    grid-template-columns: 50% 50%;
    margin: 1px 1px;
}

#Open {
    border: 2px solid #eee;
    border-radius: 10px;
	background-color: rgb(61, 180, 77);
	color: #FFF;
}

#Delete {
    border: 2px solid #eee;
    border-radius: 10px;
	background-color: rgb(180, 61, 61);
	color: #FFF;
}


#Open:hover {
    cursor: pointer;
    transition-delay: 100ms;
    background-color: lightgreen;
}

#Delete:hover {
    transition-delay: 100ms;
    background-color: salmon;
}